@font-face {
  font-family: 'Test';
  src: url('./Fonts/Font.eot');
  src: url('./Fonts/Font.eot?#iefix') format('embedded-opentype'),
      url('./Fonts/Font.woff2') format('woff2'),
      url('./Fonts/Font.woff') format('woff'),
      url('./Fonts/Font.ttf') format('truetype'),
      url('./Fonts/Font.svg#Font') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Font';
  src: url('./Fonts/Font_1.eot');
  src: url('./Fonts/Font_1.eot?#iefix') format('embedded-opentype'),
      url('./Fonts/Font_1.woff2') format('woff2'),
      url('./Fonts/Font_1.woff') format('woff'),
      url('./Fonts/Font_1.ttf') format('truetype'),
      url('./Fonts/Font_1.svg#Font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Font';
  margin: 0px;
}